<footer class="footer text-center text-white mb-auto footer1" style="background-color: #338FE3">

  <div class="container">
    <div class="column1">
      <h1>Health Care Service</h1>
      <p>Thimphu, Babena</p>
      <p>Bhutan</p>
      <br>

      <p>Phone: +975-17345678</p>                                                                                                                               i
      <p>Email: hcsBhutan@gmail.com</p>
    </div>
    <div class="column2">
      <h1>Our Services</h1>
      <p>Dental</p>
      <p>Surgery</p>
      <p>Medicine</p>
      <p>Checkup</p>
    </div>

    <div class="column3 mt-5">
      <h1>Join Our Team</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At rerum ullam ipsam delectus fugit atque iste, ex voluptatem tempore quo aut nisi quas saepe maxime qui officiis nihil id voluptatum?</p>
      <div class="container pt-4 ms-4">
        <section class="mb-4">
         <div class="continer">
          <i class="fa-brands fa-facebook ms-6"></i>
          <i class=" fa-brands fa-instagram  ms-2"></i>
          <i class="fa-brands fa-twitter  ms-2"></i>
          <i class="fa-brands fa-linkedin  ms-2"></i>
         </div>
          
        </section>
        
      </div>
    </div>
  </div>

 
    
  
    
    <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-light">Health Care Service</a>
    </div>
    
  </footer>