<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">Our goal is to provide best medical service</h1>
                    <p class="lead fw-normal text-muted mb-4"> We are committed to a vision of operational excellence and unwavering focus on ensuing our customer always review the best in what we have to offer.
                    </p>
                    <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
                </div>
            </div>
        </div>
    </div>
  </header>

  <section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" [src]="image1" alt="..." class="image" /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">CEO Of the Company</h2>
                <p class="lead fw-normal text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est, ut esse a labore aliquam beatae expedita. Blanditiis impedit numquam libero molestiae et fugit cupiditate, quibusdam expedita, maiores eaque quisquam.</p>
            </div>
        </div>
    </div>
  </section>


  <section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Our team</h2>
            <p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" [src]="image3" alt="..." />
                    <h2 class="fw-bolder">Dr.Jigme</h2>
                    <div class="fst-italic text-muted">Surgun, Radiology &amp; CEO</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" [src]="image2" alt="..." />
                    <h2 class="fw-bolder">Dr.Pema</h2>
                    <div class="fst-italic text-muted">Dental, Nursing</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-sm-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" [src]="image4" alt="..." />
                    <h2 class="fw-bolder">Dr.Dorji</h2>
                    <div class="fst-italic text-muted">Emergency</div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" [src]="image5" alt="..." />
                    <h2 class="fw-bolder">Dr.Sonam</h2>
                    <div class="fst-italic text-muted">physiotherapist</div>
                </div>
            </div>
        </div>
    </div>
  </section>