<br><br><br>

<section id="departments" class="departments">
    <div class="container">

      <div class="section-title">
        <h1>About Us</h1>
        <p id="t1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quibusdam reprehenderit praesentium eaque facilis maxime voluptatum dicta cum doloribus ex repellat enim architecto aliquid fugiat consectetur, saepe in illo qui?</p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Professional Care</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Recgnoized Ward Rooms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Best Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Advanced Technology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Highly Qualifyed</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Deals with all patient</h3>
                  <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum provident reiciendis ullam soluta</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat minima harum delectus aliquam, nisi facilis alias quas animi quod blanditiis qui nemo facere magnam dolore a, laboriosam doloribus quidem nesciunt?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, nemo dolorem placeat quae dolores sapiente possimus deserunt doloremque inventore quasi rerum laborum dolore dignissimos ipsum ea repellendus iste rem. Consectetur.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img [src]="image1" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Have over 100+ ward rooms</h3>
                  <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum provident reiciendis ullam soluta</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat minima harum delectus aliquam, nisi facilis alias quas animi quod blanditiis qui nemo facere magnam dolore a, laboriosam doloribus quidem nesciunt?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, nemo dolorem placeat quae dolores sapiente possimus deserunt doloremque inventore quasi rerum laborum dolore dignissimos ipsum ea repellendus iste rem. Consectetur.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img [src]="image2" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Provide quality service at lower price</h3>
                  <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum provident reiciendis ullam soluta</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat minima harum delectus aliquam, nisi facilis alias quas animi quod blanditiis qui nemo facere magnam dolore a, laboriosam doloribus quidem nesciunt?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, nemo dolorem placeat quae dolores sapiente possimus deserunt doloremque inventore quasi rerum laborum dolore dignissimos ipsum ea repellendus iste rem. Consectetur.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img [src]="image3" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>More of 21st century Technology</h3>
                  <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum provident reiciendis ullam soluta</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat minima harum delectus aliquam, nisi facilis alias quas animi quod blanditiis qui nemo facere magnam dolore a, laboriosam doloribus quidem nesciunt?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, nemo dolorem placeat quae dolores sapiente possimus deserunt doloremque inventore quasi rerum laborum dolore dignissimos ipsum ea repellendus iste rem. Consectetur.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img [src]="image4" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Highly Qualifyed Doctors and Nurse</h3>
                  <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum provident reiciendis ullam soluta</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat minima harum delectus aliquam, nisi facilis alias quas animi quod blanditiis qui nemo facere magnam dolore a, laboriosam doloribus quidem nesciunt?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, nemo dolorem placeat quae dolores sapiente possimus deserunt doloremque inventore quasi rerum laborum dolore dignissimos ipsum ea repellendus iste rem. Consectetur.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img [src]="image5" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>