<div class="whole">
    <div class="container mt-5">
        <img [src]="image1" class="img-fluid" alt="..." id="img">
        
        <div class="text">
        <p id="t1">Welcome to Health Care Service</p>
        <p id="t2">We are team to provide a best service</p>
    </div>
    
    <button type="button" class="btn text-light btn1" style="background-color: #338FE3;">Get Started</button>
    </div>



       <div class="container1">

        <div class="box box1">
          <h1>Why choose us?</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula nisi eget ante mollis, in consequat velit tristique.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula nisi eget ante mollis, in consequat velit tristique.
            <br><br>
           <button type="button" class="btn text-light" id=" btn1" style="background-color: #478fd3;">Learn more > </button>
          </p>
        </div>

        <div class="box box2">
            <i class="fa-solid fa-notes-medical m" style="color: #319df0;"></i>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula nisi eget ante mollis, in consequat velit tristique.</p>
        </div>
        <div class="box box3">
            <i class="fa-solid fa-user-nurse m ms-5" style="color: #319df0;"></i>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula nisi eget ante mollis, in consequat velit tristique.</p>
        </div>
</div>

<!-- <div class="container2">
  <div class="img3">
    <img [src]="image2" alt="" width="150%">
  </div>
</div>
<div class="content">
  <h3 style="color: #03335a;">We do the best to give  you a personalized experience.</h3>
  <i class="fa-solid fa-briefcase-medical" style="color: #3892d6;"></i><br>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat eveniet dolorum aliquam eligendi inventore sequi, alias, tempore nulla, saepe numquam accusantium minus atque sint aliquid debitis accusamus iste sit ducimus.</p>
  <i class="fa-solid fa-x-ray" style="color: #3892d6;"></i>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, non. Porro nesciunt quia, dolores cupiditate dolorem magni fugiat saepe laborum atque, impedit maiores! Repellendus magnam ad perspiciatis, voluptatem tempore eius!
  </p>
</div> -->

<div class="container3">
  <div class="wrapper1">
    <div class="img3">
    <img [src]="image3" alt="" width="50%" [ngStyle]="{'width.px': imagewidth, 'height.px': imageheight}">
  </div>
  <div class="content1">
    <h1>Provide best service</h1>
  </div>
  </div>
  

<div class="wrapper2">
   <div class="img4">
    <img [src]="image4" alt="" width="50%" [ngStyle]="{'width.px': imagewidth, 'height.px': imageheight}">
  </div>
<div class="content2">
  <h1>Recoginzed ward rooms</h1>
</div>
</div>
 
<div class="wrapper3">
  <div class="img5">
    <img [src]="image5" alt="" width="50%" [ngStyle]="{'width.px': imagewidth, 'height.px': imageheight}">
  </div>
<div class="content3">
  <h1>Advanced Technology</h1>
</div>
</div>
 
<div class="wrapper4">
  <div class="img6">
    <img [src]="image6" alt="" width="50%" [ngStyle]="{'width.px': imagewidth, 'height.px': imageheight}">
  </div>
  <div class="content4">
    <h1>Highly Qualifyed</h1>
  </div>
</div>
  
</div>

