 <!-- ======= Services Section ======= -->
 <section id="services" class="services">
    <div class="container">

      <div class="section-title mt-4">
        <h2>Services</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic vitae maiores animi autem provident magni quod et rerum totam facere, nisi, unde quos eaque sapiente rem possimus non ipsa voluptates.</p>
      </div>

      <div class="row content box  gap-3">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch box1">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4>Critical Care</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur enim quaerat perspiciatis accusamus, molestias quo autem distinctio sit, iusto minus rem necessitatibus doloremque numquam vero blanditiis, illum officiis voluptas cum?</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 box2">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-notes-medical"></i></div>
            <h4>Emergency Department</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique alias consequatur quo dolore dolor temporibus minus, veritatis iusto fuga aspernatur, at tenetur voluptatibus, cum inventore praesentium officiis libero? Voluptate, ratione.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 box3">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-x-ray"></i></div>
            <h4>Radiology</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus nemo ducimus magnam fugiat reprehenderit tenetur quod amet veniam sunt nostrum officia id tempore repellendus architecto dignissimos, consequatur animi! Adipisci, expedita.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 box4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-user-nurse"></i></div>
            <h4>Nursing</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid earum temporibus ratione porro, ut mollitia quam distinctio labore numquam deleniti voluptas repellat cum odio quasi facere quod exercitationem voluptatum obcaecati?</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 box5">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-wheelchair"></i></div>
            <h4>General Surgery</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem ea recusandae aliquid quae, atque voluptate? Aperiam ab iure a consequuntur velit. Obcaecati fugiat aliquid est repellendus voluptate, dignissimos ex itaque!</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 box6">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-pills"></i></div>
            <h4>Medicine</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil eaque adipisci, qui obcaecati beatae saepe aperiam? Laudantium maxime, ipsa quae pariatur reprehenderit fugit accusamus modi debitis error molestiae ipsam libero.</p>
          </div>
        </div>

      </div>

    </div>
  </section>