<nav class="navbar navbar-expand-lg bg-white justify-content-end fixed-top">
    <div class="container">
    
        <h3>Health <span id="logo">Care Service</span></h3>
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="nav1">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle ms-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/department">Department</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/doctors">Doctors</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/appointment"  (click)="openDialog()">Make Appointment</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link  ms-3" href="#" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  ms-3" href="#" routerLink="/contact">Contact</a>
          </li>
         <button type="button" class="btn text-light" id=" btn1" style="background-color: #338FE3;"  routerLink="/appointment" (click)="openDialog()">Make Appointment</button>
        </ul>
       
      </div>
    </div>
  </nav>
